/* Estilos Gerais */

body {
    background: #ececec;
    font-family: Arial, Helvetica, sans-serif;
    font: normal 18pt Arial;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

input {
    width: 100px;
    font: normal 16pt Arial;
}

input[type=button] {
    cursor: pointer;
    text-transform: uppercase;
}

div#res {
    margin-top: 15px;
}